<!DOCTYPE HTML>
<html>

<head>
	<title>Información de Contacto</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="subpage">

	<script>

		const session = localStorage.getItem('user-costuras-stella');

		if (!session) {
			window.location.href = '/login';
		}

	</script>

	<header id="header" class="alt">
		<div class="logo"><a href="/">Costuras <span>Stella</span></a></div>
		<a href="#menu"><span>Menú</span></a>
	</header>

	<nav id="menu">
		<ul class="links">
			<li><a href="/">Inicio</a></li>
			<li><a href="/catalogue">Catálogo</a></li>
			<li id="linkOrders"><a href="/orders">Pedidos</a></li>
			<li id="linkLogin"><a href="/login">Ingresar</a></li>
			<li id="linkProfile"><a href="/profile">Perfil</a></li>
			<li id="linkShoppingCart"><a href="/shopping-cart">Carrito de Compras</a></li>
			<li id="linkAdmin" style="display: none;"><a href="/admin">Administración</a></li>
		</ul>
	</nav>

	<section id="post" class="wrapper bg-img" data-bg="banner7.jpg">
		<div class="inner">
			<article class="box">
				<header>
					<h2 clas="fw-bold fs-3" align="center">¡Muchas gracias por su pedido!</h2>
				</header>
				<div align="center" class="content">
					<p style="text-align: center;">El proveedor se pondrá en contacto con usted a la brevedad para guiarlo en el proceso de pago. A continuación encontrará la información de contacto del mismo por si prefiere comunicarse usted mismo. </p>
					<p style="text-align: center;"><span style="font-weight: bold;">Dirección:</span> Pedro B. Palacios 150, Mendoza, Mendoza </p>
					<p style="text-align: center;"><span style="font-weight: bold;">Email:</span> admin@gmail.com </p>
					<p style="text-align: center;"><span style="font-weight: bold;">Teléfono:</span> 261-3123456 </p>
                    <a href="/" class="button special">Ir a Inicio</a>
                    <a href="/orders" class="button">Ir a pedidos</a>
                </div>
			</article>
		</div>
	</section>

	<footer id="footer">
		<div class="inner">

			<h2>Información de Contacto</h2>

			<form action="#" method="post">

				<div class="field half first">
					<label for="name">Nombre</label>
					<input name="name" id="name" type="text" placeholder="Nombre">
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input name="email" id="email" type="email" placeholder="Email">
				</div>
				<div class="field">
					<label for="message">Mensaje</label>
					<textarea name="message" id="message" rows="6" placeholder="Mensaje"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Enviar" class="button alt" type="submit"></li>
				</ul>
			</form>

			<ul class="icons">
				<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

	<script>
		const linkOrders = document.querySelector('#linkOrders');
		const linkProfile = document.querySelector('#linkProfile');
		const linkShoppingCart = document.querySelector('#linkShoppingCart');
		const linkLogin = document.querySelector('#linkLogin');
		const linkAdmin = document.querySelector('#linkAdmin');
		const shoppingCart = localStorage.getItem('shoppingCart');

		if (!session) {
			linkOrders.style.display = 'none';
			linkProfile.style.display = 'none';
			linkShoppingCart.style.display = 'none';
		} else {
			linkLogin.style.display = 'none';
		}

		if ( !shoppingCart ) {

			return window.location.href = "/shopping-cart";

		}

		const usuario = JSON.parse( session );

		if ( usuario ) {

			if ( usuario.rol == 'ADMIN_ROLE' ) {

				linkAdmin.style.display = '';

			}

		}


	</script>

</body>

</html>