<!DOCTYPE HTML>
<html>

<head>
	<title>Perfil</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="subpage">

	<script>

		const session = localStorage.getItem('user-costuras-stella');

		if (!session) {
			window.location.href = '/login';
		}

	</script>

	<header id="header" class="alt">
		<div class="logo"><a href="/">Costuras <span>Stella</span></a></div>
		<a href="#menu"><span>Menú</span></a>
	</header>

	<nav id="menu">
		<ul class="links">
			<li><a href="/">Inicio</a></li>
			<li><a href="/catalogue">Catálogo</a></li>
			<li id="linkOrders"><a href="/orders">Pedidos</a></li>
			<li id="linkLogin"><a href="/login">Ingresar</a></li>
			<li id="linkProfile"><a href="/profile">Perfil</a></li>
			<li id="linkShoppingCart"><a href="/shopping-cart">Carrito de Compras</a></li>
			<li id="linkAdmin" style="display: none;"><a href="/admin">Administración</a></li>
		</ul>
	</nav>

	<section id="post" class="wrapper bg-img" data-bg="banner13.jpg">
		<div class="inner">
			<article class="box">
				<header>
					<h2 align="center">Mi Perfil</h2>
				</header>
				<div class="content mt-1">

					<div align="center" class="">
						<img id="imgPerfil" src=""" alt="prueba" width="275" height="275" />
						<div align="center" class="">
						<input type="file" id="inputAvatar" name="avatar" accept="image/png, image/jpeg">
					</div>

				</div>
					
					<form action="#" method="post">

						<div class="field">
							<label for="name">Nombre</label>
							<input name="name" id="inputName" type="text" placeholder="Nombre">
						</div>
						<div class="field">
							<label for="email">Email</label>
							<input name="email" id="inputEmail" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="email">Contraseña</label>
							<input name="email" id="inputPassword" type="password" placeholder="Contraseña">
						</div>
						<div class="field">
							<label for="email">Repetir Contraseña</label>
							<input name="email" id="inputPassword2" type="password" placeholder="Contraseña">
						</div>
						<div class="row uniform">
							<div align="right" class="6u 12u$(xsmall)">
								<a id="btnModificar" class="button special small" >Modificar</a>
							</div>
							<div align="left" class="6u$ 12u$(xsmall)">
								<a id="btnLogout" class="button small" >Salir</a>
							</div>
						</div>
					</form>
				</div>
			</article>
		</div>
	</section>

	<footer id="footer">
		<div class="inner">

			<h2>Información de Contacto</h2>

			<form action="https://formsubmit.co/dev.jvaca@gmail.com" method="post">

				<div class="field half first">
					<label for="name">Nombre</label>
					<input name="name" id="name" type="text" placeholder="Nombre" required>
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input name="email" id="email" type="email" placeholder="Email" required>
				</div>
				<div class="field">
					<label for="message">Mensaje</label>
					<textarea name="message" id="message" rows="6" placeholder="Mensaje" required></textarea>
				</div>
				<ul class="actions">
					<li><input value="Enviar" class="button alt" type="submit"></li>
				</ul>
			</form>

			<ul class="icons">
				<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
		const linkOrders = document.querySelector('#linkOrders');
		const linkProfile = document.querySelector('#linkProfile');
		const linkShoppingCart = document.querySelector('#linkShoppingCart');
		const linkLogin = document.querySelector('#linkLogin');
		const linkAdmin = document.querySelector('#linkAdmin');
		const btnLogout = document.querySelector('#btnLogout');
		const inputEmail = document.querySelector('#inputEmail');
		const inputName = document.querySelector('#inputName');
		const inputPassword = document.querySelector('#inputPassword');
		const inputPassword2 = document.querySelector('#inputPassword2');
		const imgPerfil = document.querySelector('#imgPerfil');
		const btnModificar = document.querySelector('#btnModificar');
		const inputAvatar = document.querySelector('#inputAvatar');

		if (!session) {
			linkOrders.style.display = 'none';
			linkProfile.style.display = 'none';
			linkShoppingCart.style.display = 'none';
		} else {
			linkLogin.style.display = 'none';
		}

		btnLogout.addEventListener('click', () => { //el segundo parametro es una callback

			localStorage.removeItem('JWT-costuras-stella');
			localStorage.removeItem('shoppingCart');
			localStorage.removeItem('user-costuras-stella');

			window.location.href = '/';

		});

		btnModificar.addEventListener('click', async () => { //el segundo parametro es una callback

			let campos = {};
			const usuario = JSON.parse(localStorage.getItem('user-costuras-stella'));

			//validaciones
			if (inputName.value.length < 8) {
				return swal('Nombre no válido', 'Por favor ingrese un nombre válido', 'error');
			}

			if (inputEmail.value.length < 8) {
				return swal('Email no válido', 'Por favor ingrese un email válido', 'error');
			}

			if (inputPassword.value.length > 0 && inputPassword.value.length < 8) {
				return swal('Contraseña no válida', 'Por favor ingrese una contraseña válida', 'error');
			}

			if (inputPassword.value !== inputPassword2.value) {
				return swal('Las Contraseñas no Coinciden', 'Por favor verifica que las contraseñas coincidan', 'error');
			}

			if( inputName.value !== usuario.nombre ) {
				campos.nombre = inputName.value;
			}

			if ( inputEmail.value !== usuario.correo) {
				campos.correo = inputEmail.value;
			}

			if( inputPassword.value ){
				campos.password = inputPassword.value;
			}

			if ( Object.keys(campos).length <1 && !inputAvatar.value ){
				return swal('Error', 'No hay campos que modificar', 'error');
			}
			
			if ( Object.keys(campos).length > 0 ) {
				//console.log(campos);
				campos.rol = 'USER_ROLE'; 
				await actualizarUsuario( usuario.uid, campos );				
			}

			//solo actualizamos la imagen si el usuario seleccionó una imagen.
			if ( inputAvatar.value ) {
				await actualizarAvatar();
			}

			inputAvatar.value = '';
			swal('Modificación Exitosa', 'Los campos se han modificado con éxito', 'success');
			
		});

		const actualizarUsuario = async ( uid, campos ) => {

			
			const settings = {

				method: 'PUT',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(campos)

			}

			try {
				const data = await fetch(`https://rest-server-crud-usuarios.herokuapp.com/api/usuarios/${ uid } `, settings);

				const usuarioModificado = await data.json();

				console.log(usuarioModificado);
				localStorage.setItem('user-costuras-stella', JSON.stringify(usuarioModificado.usuario));

				return true;

			} catch (error) {
				console.log(error);
			}

		}

		const actualizarAvatar = async () => {
			const usuario = JSON.parse(localStorage.getItem('user-costuras-stella'));

			let formdata = new FormData();
			formdata.append("archivo", inputAvatar.files[0]);

			const settings = {

				method: 'PUT',
				body: formdata

			}

			try {
				const data = await fetch(`https://rest-server-crud-usuarios.herokuapp.com/api/uploads/usuarios/${ usuario.uid }`, settings);

				const usuarioModificado = await data.json();

				if( usuarioModificado.img ){
					usuario.img = usuarioModificado.img;
				}

				localStorage.setItem('user-costuras-stella', JSON.stringify(usuario));
				imgPerfil.src = usuarioModificado.img;

				return true;

			} catch (error) {
				console.log(error);
			}

		}

		const rellenarCampos = () => {

			const usuario = JSON.parse(localStorage.getItem('user-costuras-stella'));

			inputName.value = usuario.nombre;
			inputEmail.value = usuario.correo;
		
			if ( !usuario.img ) {
				return imgPerfil.src = 'https://res.cloudinary.com/dda9lhkn8/image/upload/v1635557472/axixjonpxpj8mpl43cgz.jpg';

			} 

			imgPerfil.src = usuario.img;

		}

		rellenarCampos();

		const usuario = JSON.parse( session );

		if ( usuario ) {

			if ( usuario.rol == 'ADMIN_ROLE' ) {

				linkAdmin.style.display = '';

			}

		}

	</script>

	

</body>

</html>