<!DOCTYPE HTML>
<html>
	<head>
		<title>¿Por qué elegirnos?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

			<header id="header" class="alt">
				<div class="logo"><a href="/">Costuras <span>Stella</span></a></div>
				<a href="#menu"><span>Menú</span></a>
			</header>

			<nav id="menu">
				<ul class="links">
					<li><a href="/">Inicio</a></li>
					<li><a href="/catalogue">Catálogo</a></li>
					<li id="linkOrders"><a href="/orders">Pedidos</a></li>
					<li id="linkLogin"><a href="/login">Ingresar</a></li>
					<li id="linkProfile"><a href="/profile">Perfil</a></li>
					<li id="linkShoppingCart"><a href="/shopping-cart">Carrito de Compras</a></li>
					<li id="linkAdmin" style="display: none;"><a href="/admin">Administración</a></li>
				</ul>
			</nav>

			<section id="post" class="wrapper bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>¿Por qué elegirnos?</h2>
						</header>
						<div class="content">
							<p>Además de contar con más de 30 años de experiencia en la confección de ropa, elegimos los insumos de mejor calidad para crear nuestros productos. Además somos entusiastas con respecto a las tendencias actuales por lo que encontrarás los colores y modelos a la moda.</p>

							<p>Penatibus vestibulum ullamcorper diam commodo volutpat at a sodales dis id ut condimentum a arcu at nostra pretium urna suspendisse. Maecenas commodo adipiscing ad curabitur a a risus pulvinar habitant a et integer volutpat mi nullam curabitur a adipiscing nullam in bibendum vel cras scelerisque. Morbi a euismod litora dui nunc in pretium sodales ante dis dui natoque adipiscing a. Augue imperdiet dignissim adipiscing justo accumsan adipiscing vestibulum adipiscing fames class ad rutrum sociosqu ad auctor sodales dis mollis. Ac euismod enim ad viverra dui auctor at integer inceptos parturient mi convallis aliquet iaculis ad diam.</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="/products" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="/to-start" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

			<footer id="footer">
				<div class="inner">

					<h2>Información de Contacto</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Nombre</label>
							<input name="name" id="name" type="text" placeholder="Nombre">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Mensaje</label>
							<textarea name="message" id="message" rows="6" placeholder="Mensaje"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Enviar" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

			<script>
				const linkOrders = document.querySelector('#linkOrders');
				const linkProfile = document.querySelector('#linkProfile');
				const linkShoppingCart = document.querySelector('#linkShoppingCart');
				const linkLogin = document.querySelector('#linkLogin');
				const linkAdmin = document.querySelector('#linkAdmin');

				const session = localStorage.getItem('user-costuras-stella');

				if( !session ){
					linkOrders.style.display = 'none';
					linkProfile.style.display = 'none';
					linkShoppingCart.style.display = 'none';
				} else {
					linkLogin.style.display = 'none';
				}

				const usuario = JSON.parse( session );

				if ( usuario ) {

					if ( usuario.rol == 'ADMIN_ROLE' ) {

						linkAdmin.style.display = '';

					}

				}
			</script>

	</body>
</html>